@(title: String)

@main("") {
	<div id="left-float-image">
		<p><img src="@routes.Assets.at("images/welcome/play-logo.png")" /></p>
		<p><img src="@routes.Assets.at("images/welcome/typesafe-logo.png")" /></p>
		<p>
			This presentation is not endorsed by Zenexity, Typesafe or anyone associated with the Play Framework. I just reused their logos.
		</p>
		<p>
			Amadeus accepts no liability for the content of this presentation, or for the consequences of any actions taken on the basis of the information provided.
			Any views or opinions presented in this presentation are solely those of the author and do not represent those of the company.  
		</p>
		
	</div>
	<div id="intro-text">
		<h1>@title</h1>
		<ul class="meta-text">
			<li>Tadhg Pearson</li>
			<li>Boston R&amp;D</li>
			<li>2014-03-19 T 16:30Z</li>
		</ul>
	</div>    
	<div class="next"><a href="/intro"><img src="assets/images/next.png" /></a></div>
}
