@main("- Introduction") {
	<h1>Introduction to Play Framework</h1>
	
	<div id="content">
		<p><span class="quote">Play is an open source web application framework, written in Scala and Java, which follows the model-view-controller pattern. 
		It aims to optimize developer productivity by using convention over configuration, hot code reloading and display of errors in the browser.</span> -- Wikipedia</p>
		
		<div id="left-float-image"><img src="assets/images/intro/default-layout.png" /></div>
		<h2>What's good for hackers here?</h2>
		<ul>
			<li>Pre-setup environment: Just put your stuff where the framework's sensible layout wants it (see left), with JQuery out-of-the-box</li>
			<li>Hot reloading for all levels of code, no build required</li>
			<li>Pre-configures eclipse for you</li>
			<li>Lots of stuff you want is built in (Jackson, Apache Commons, Joda, Akka, JUnit, Selenium, Xerces, Xalan, HTTP Core, Ebean... even Hamcrest!) and if you want more, just drop it in the lib folder, and reload the page!</li>
			<li>Testing by <span class="console">&gt; play test </span>, you can test against a fake application running on an in-memory database</li>
			<li>Automatic db migration and seeding, if you want it</li>
			<li>Config is not a giant pain in the ass</li> 
			<li>Easy-deploy, supported by Heroku and other cloud hosting services</li>
			<li>Open-source, and the source is easy to read, so if something doesn't work like you expect, clone the source and see why</li>
			<li>Developed by a guy from INRIA, documentation is full of funny language jokes for French speakers</li>
		</ul>
		
		<p>Sound familiar? If you're familiar with Rails, you'll find Play is very similar</p>
		
	</div>    
	<div class="next">Next <a href="/routing"><img src="assets/images/next.png" /></a></div>
}
